activator
activator-launch-1.2.8.jar
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
projectFilesBackup
conf/application.conf
conf/application.dev.conf
conf/application.prod.conf
lib
