
db.default.url="mysql://oka:oka@localhost:3306/oka_development"
db.default.driver=com.mysql.jdbc.Driver
db.default.user="oka"
db.default.password="oka"

db.default.logStatements=true
logger.com.jolbox=DEBUG

smtp.host=smtp.yoursmtpserver.com
smtp.port=587
smtp.ssl=no
smtp.tls=yes
smtp.user="info@companyname.com"
smtp.password="foo"


redis.host=localhost
redis.port=6300
#redis.password=none
redis.database=3
