application.secret="secret"

application.langs="en"


ehcacheplugin=disabled

company.username=[your company name here]


# Root logger:
logger.root=ERROR

# Logger used by the framework:
logger.play=DEBUG

# Logger provided to your application:
logger.application=DEBUG

